<div ng-controller="EditController">
    <p>Client edit</p>
    <p>Client id : {{ client._id.$oid }}</p>
    <p class="text-success" ng-bind="success"></p>
    <p class="text-error" ng-bind="error"></p>
    <form name="editClient" ng-submit="submit(editClient.$valid)" novalidate>
        <input type="text" name="company" id="company" ng-model="client.company" placeholder="Entreprise" required>
        <input type="text" name="lastname" id="lastname" ng-model="client.lastname" placeholder="Nom" required>
        <input type="text" name="firstname" id="firstname" ng-model="client.firstname" placeholder="Prénom" required>
        <select name="state" id="state" ng-model="client.state" title="Etat du projet" required>
            <option value="prospect" selected>Prospect</option>
            <option value="progress">Projet en cours</option>
            <option value="complete">Projet terminé</option>
            <option value="partner">Partenaire</option>
        </select>
        <button type="submit">Ajouter</button>
    </form>
</div>