<!doctype html>
<html lang="fr" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Projet Python</title>

    <!--<script src="/static/lib/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
    <script src="/static/js/app.js"></script>

    <link rel="stylesheet" href="/static/css/app.css" />
</head>
<body>
    <header ng-controller="HeaderController">
        <h1>{{ title }}</h1>
        <div id="menu">
            <a href="/#/">Accueil</a>
            <a href="/#/client/add">Ajouter un client</a>
        </div>
    </header>
    <div ng-view></div>
</body>
</html>